.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #8ab4f8;
}
.dragon {
    background-color: #4285f4;
}

.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725747;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}


.janelaModal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.janelaModal.abrir {
    display: flex;
}

@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}

.abrir .modal{
    animation: abrirmodal .8s;
}

.modal {
    width: 60%;
    min-width: 250px;
    min-height: 400px;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 10px;
}

.modal h2::first-letter {
    text-transform: uppercase;
}

.modal li {
    color: white;
    list-style: none;
}


.fechar {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fechar:hover {
    background-color: rgba(255, 0, 0, 0.555);
    color: #ffffff7e;
    transition: .5s;
    cursor: pointer;
}




/*Css detalhes pokemon modal*/


